<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AmazonAutomation" parallel="false">
	<test name="purchaseItem">
		<classes>
			<class name="com.amazon.testcase.AmazonTestCase">
				<methods>
					<include name="purchaseItem"></include>
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
